.flex{
    display: flex;
}
.flex-center{
    align-items: center;
    justify-content: center;
}
.cardHomePage{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    /* overflow:auto;  */
  }
  .cardStyle{
    box-shadow: 0px 3px 10px lightsteelblue;
    margin: 10px;
    padding: 2px 2px 5px 2px;
    width: 265px;
  }
  .cardStyle img {
    /* width:260px; 
    height: 225px; */
    max-width:100%;
    max-height:100%;
    min-height:350px;
  }
  .cardProductDetails{
    text-align: center;
    padding-bottom: 5px;
  }
  .collection-item{
    border: 1px solid lightgray;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    /* background-color: #DCDCDC; */
  }
  .item-img img{
    width:150px;
    height: 160px;
  }
  .bill-wrapper{
    background-color: lightsteelblue;
    text-align: end;
    padding:10px 20px;
    margin-left:40px;
  }
.circle {
    width: 32px;
    height: 32px;
    background: linear-gradient(#fff,#f9f9f9);
    display: inline-block;
    border: 1px solid #c2c2c2;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50%;
    padding-top: 1px;
    text-align: center;
}
.rectangle{
  display: inline-block;
  padding: 3px 6px;
  width: 46px;
  height: 32px;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #c2c2c2;
  text-align: center;
}
  