.App {
  /* text-align: center; */
}
.App-header {
  min-height: 12vh;
  font-size: calc(10px + 2vmin);
  color: #282c34;
  margin:20px 20px 20px 20px;
}
.primary-btn{
  width:150px;
  height:40px;
  border:1px solid #282c34;
  background-color: #282c34;
  color:#ffffff;
}
li{
  list-style-type: none;
}
a{
  color:#ffffff !important;
  text-decoration: none;
}
input{
    border:none;
    border-bottom:1px solid black;
    width:400px;
    outline:none;
}
.p-10-25{
  padding: 10px 25px;
}
.header{
  clear:both;
}
.logo-box{
  float:left;
  width:7.5em;
  height:0em;
}
.user-header-info{
  float: right;
  /* background-color: black; */
  padding: 10px;
}
.user-header-info img{
  width:80px;
  height:80px;
}
.border-1px{
  border: 1px solid red;
}
.slide-box{
  display:flex;
  flex-direction: column;
  position: relative;
}
.sidebar{
  width:150px;
  height: 100vh;
  color: white;
  position: absolute;
  z-index: 200;
  animation: slide-open .75 forwards;
  background-color: #282c34;
}
.text-align-center{
  text-align: center;
}
.cursor-pointer{
  cursor: pointer; 
}
.page-heading{
  margin-left:40px;
}
.m-L-10{
  margin-left:10px;
}
.m-R-30{
  margin-right: 30px;
}
.m-R-10{
  margin-right: 10px;
}
.clear-both{
  clear:both;
}
.float-left{
  float:left;
}
.float-right{
  float:right
}
.color-black{
  color:#000000 !important
}
.text-decoration-none{
  text-decoration: none;
}
.js-b{
  justify-content: space-between;
}


