.App {
  /* text-align: center; */
}
.App-header {
  min-height: 20vh;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: #282c34;
  margin:20px;
}
button{
  width:150px;
  height:40px;
  border:1px solid #282c34;
  background-color: #282c34;
  color:#ffffff;
}
li{
  list-style-type: none;
      padding: 10px 25px;
}
a{
  color:#ffffff !important;
  text-decoration: none;
}
input{
    border:none;
    border-bottom:1px solid black;
    width:400px;
    outline:none;
}
.header{
  clear:both;
}
.logo-box{
  float:left;
  width:7.5em;
  height:0em;
}
.user-header-info{
  float: right;
}
.border-1px{
  border: 1px solid red;
}
.slide-box{
  display:flex;
  flex-direction: column;
  position: relative;
}
.sidebar{
  width:150px;
  height: 100vh;
  color: white;
  position: absolute;
  z-index: 200;
  animation: slide-open .75 forwards;
  background-color: #282c34;
}
.text-align-center{
  text-align: center;
}







